CNF_version = 3
LK_auto_E1 = 
LK_Circle_E1 = MISC/FileBrowser
LK_Cross_E1 = 
LK_Square_E1 = 
LK_Triangle_E1 = MISC/About uLE
LK_L1_E1 = 
LK_R1_E1 = 
LK_L2_E1 = 
LK_R2_E1 = 
LK_L3_E1 = 
LK_R3_E1 = 
LK_Start_E1 = 
Misc = MISC/
Misc_PS2Disc = PS2Disc
Misc_FileBrowser = FileBrowser
Misc_PS2Browser = PS2Browser
Misc_PS2Net = PS2Net
Misc_PS2PowerOff = PS2PowerOff
Misc_HddManager = HddManager
Misc_TextEditor = TextEditor
Misc_JpgViewer = JpgViewer
Misc_Configure = Configure
Misc_Load_CNFprev = Load CNF--
Misc_Load_CNFnext = Load CNF++
Misc_Set_CNF_Path = Set CNF_Path
Misc_Load_CNF = Load CNF
Misc_ShowFont = ShowFont
Misc_Debug_Info = Debug Info
Misc_About_uLE = About uLE
Misc_OSDSYS = OSDSYS
GUI_Col_1_ABGR = 00808080
GUI_Col_2_ABGR = 00404040
GUI_Col_3_ABGR = 00000060
GUI_Col_4_ABGR = 00000000
GUI_Col_5_ABGR = 00006060
GUI_Col_6_ABGR = 00006000
GUI_Col_7_ABGR = 00E0E0E0
GUI_Col_8_ABGR = 00000000
SKIN_FILE = 
GUI_SKIN_FILE = 
SKIN_Brightness = 50
TV_mode = 0
Screen_Interlace = 1
Screen_X = 652
Screen_Y = 72
Popup_Opaque = 0
Menu_Frame = 1
Show_Menu = 1
LK_auto_Timer = 10
Menu_Hide_Paths = 1
Menu_Pages = 1
GUI_Swap_Keys = 1
USBD_FILE = 
NET_HOSTwrite = 0
Menu_Title =    uLaunchELF for Funtuna
Init_Delay = 0
USBKBD_USED = 1
USBKBD_FILE = 
KBDMAP_FILE = 
Menu_Show_Titles = 1
PathPad_Lock = 0
CNF_Path = 
USBMASS_FILE = 
LANG_FILE = 
FONT_FILE = 
JpgView_Timer = -1
JpgView_Trans = -1
JpgView_Full = 0
PSU_HugeNames = 0
PSU_DateNames = 0
PSU_NoOverwrite = 0
FB_NoIcons = 0
PathPad_Lock = 0
