name: clang-format Check

on:
    workflow_dispatch:
    push:
        branches:
        - master
        paths:
        - FreeMcBoot/**
        - FreeMcBoot-Configurator/**


jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: check FreeMcBoot
      uses: jidicula/clang-format-action@v3.1.0
      with:
        clang-format-version: '11'
        check-path: 'FreeMcBoot'

    - name: Check FreeMcBoot-Configurator
      uses: jidicula/clang-format-action@v3.1.0
      with:
        clang-format-version: '11'
        check-path: 'FreeMcBoot-Configurator'
